{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}
<h1>List A Product</h1>
<br />
<br />
<br />


<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
<div align="left">
Name:
<br />
<input type="text" name="p_name" />
<br />
<hr>
<br />
Describe the Product:
<br />
<input type="textbox" name="p_text" />
<br />
<hr>
Choose a simple image for the product's icon:
<br /> 
<input type="file" name="p_icon"> 
<br />
<hr>
Upload a image of the product itself:
<br /> 
<input type="file" name="p_image" />
<br />
<br />
<br />
<input class="btn btn-primary" type="submit" value="Add Product" />
</form>
</div>

{% endblock %}